h1{
    text-align: center;
    color: white;
    background-color: rgb(29, 53, 119);
}

p{
    text-align: center;
    font-size: large;
}

.slot{
    letter-spacing: 0;
    margin: auto;
    width: 42.5vw;
    height: 110px;
    margin-bottom: 15px;
    overflow: hidden;
    background-size: cover;
    background-position: 0;
}

.frame{
    display: flex;
    width: 85vw;
}

.roulette_container{
    display: block;
}

button{
    background-color: beige;
    width: 10vw;
    height: 10vw;
    border-radius: 35vh;
}

.reels{
    text-align: center;
    background-color: white;
    font-size: 75px;
    margin: 0;
    width: 10vw;
    border: 1px black solid;
    overflow: hidden;
}

.slot_start:disabled{
    background-color: rgb(100, 103, 79);
}

.slot_stop button:disabled{
    background-color: rgb(186, 43, 43);
}

.slot_reset{
    width: 5vw;
    height: 5vw;
}

.yanma{
    color: rgb(186, 43, 43);
}